<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="riskServer" type="Risk.Configuration.RiskServerSection, Risk.Server"/>
  </configSections>
  <!--<system.serviceModel>
    <diagnostics performanceCounters="Off" />
  </system.serviceModel>-->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="Error.svclog" />
    </sharedListeners>
  </system.diagnostics>-->

  <!--<system.diagnostics>
    <trace autoflush="false" indentsize="4" >
      <listeners>
        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="output.txt" />
        <remove name="Default"></remove>
      </listeners>
    </trace>    
  </system.diagnostics>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="Risk" connectionString="Data Source=MSK-BODEV2\TEST;Initial Catalog=BackOffice-IM;User ID=BackOfficeServer;Password=2B#cD8C2a$b64A7B4%047c1F;Asynchronous Processing=true;Connection Timeout=5;MultipleActiveResultSets=true;"  providerName="System.Data.SqlClient" />
    <!--<add name="Risk" connectionString="Data Source=MSA-BODEV7\Test;Initial Catalog=BackOffice-IM;User ID=BackOfficeServer;Password=2B#cD8C2a$b64A7B4%047c1F;Asynchronous Processing=true;Connection Timeout=5;MultipleActiveResultSets=true;"  providerName="System.Data.SqlClient" />-->
    <!--<add name="Risk" connectionString="Data Source=MSA-BODEV7\HD;Initial Catalog=BackOffice-IM;User ID=BackOfficeServer;Password=2B#cD8C2a$b64A7B4%047c1F;Asynchronous Processing=true;Connection Timeout=5;MultipleActiveResultSets=true;"  providerName="System.Data.SqlClient" />-->
    <!--<add name="Risk" connectionString="Data Source=FRC-BODB31;Initial Catalog=BackOffice-IM;User ID=BackOfficeServer;Password=2B#cD8C2a$b64A7B4%047c1F;Asynchronous Processing=true;Connection Timeout=5;MultipleActiveResultSets=true;"  providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss}: ${message}"/>
    <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss.fff} (${level:uppercase=true}): ${message} ${exception:format=tostring}"/>

    <targets>

      <target xsi:type="File" name="file" layout="${commonLayout}" concurrentWrites="true" fileName="${basedir}/Log/RiskServer [${date:format=yyyy-MM-dd}].log" />
      <target xsi:type="File" name="trace" layout="${detailedLayout}" concurrentWrites="true" fileName="${basedir}/Log/RiskServer (trace) [${date:format=yyyy-MM-dd}].log" />

    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="trace" />
    </rules>

  </nlog>

  <riskServer>
    <server connectionStringName="Risk" firmId="1" autoMarginCallInterval="10000" transaqUsaHostName="http://bofm-test.office.finam.ru:55127"/>
    <jobs>
      <databaseJobs>
        <job name="LoadInstrumentsJob" connectionStringName="Risk" enabled="true" autoStart="false"
             commandName="Merge" storedProcedureName="[Risk].[Instruments]" dataObjectName="Instruments"
             dataObjectFields="Decimals,Bpcost,Lotsize,GShift,Sigma,MaxCount,Smoothing,Enabled,MarketPermitted,LongPermitted,ShortPermitted,Resident,NotResident,BS_StopDeny,BS_StopDenyZone">
          <storedProcedureParameters>
            <add key="Date" value="%Settings.ServerTime%"></add>
          </storedProcedureParameters>
        </job>

        <job name="GetInstrumentGroups" connectionStringName="Risk" autoStart="false"
               commandName="Merge" storedProcedureName="[Risk].[GetInstrumentGroups]" dataObjectName="InstrumentGroups"
               dataObjectFields="GShift,Sigma,MaxCount,Smoothing">
        </job>

        <job name="UpdateExchangeRatesJob" connectionStringName="Risk" autoStart="false"
               commandName="Insert" storedProcedureName="[Risk].[Rates]" dataObjectName="ExchangeRates">
          <storedProcedureParameters>
            <add key="Date" value="%Settings.ServerTime%"></add>
          </storedProcedureParameters>
        </job>

        <job name="UpdatePortfoliosJob" period="180000" connectionStringName="Risk" autoStart="false"
             commandName="Merge" storedProcedureName="[Risk].[Portfolios]" dataObjectName="Portfolios"
             dataObjectFields="AccountId,Client,CodeWord,Currency,Active,Contragent,BsStopDeny,GoCoeff,AccessAuction,Retain,ScalperTradesToday,ScalperTradesAll">
          <storedProcedureParameters>
            <add key="FirmId" value="1"></add>
          </storedProcedureParameters>
        </job>

        <job name="UpdatePortfoliosMoneyInOutDayJob" period="120000" connectionStringName="Risk" autoStart="false"
         commandName="Update" storedProcedureName="[Risk].[MoneyInOutDay]" dataObjectName="Portfolios" dataObjectFields="MoneyInDay,MoneyOutDay">
          <storedProcedureParameters>
            <add key="FirmId" value="1"></add>
          </storedProcedureParameters>
        </job>

        <job name="UpdateFinancialResultsJob" connectionStringName="Risk" autoStart="false"
           commandName="Merge" storedProcedureName="[Risk].[FinRes]" dataObjectName="FinancialResults">
          <storedProcedureParameters>
            <add key="FirmId" value="1"></add>
            <add key="CurrencyCalc" value="%Settings.CurrencyDisplay%"></add>
          </storedProcedureParameters>
        </job>

        <job name="UpdatePortfoliosFinResJob" connectionStringName="Risk" autoStart="false"
         commandName="Update" storedProcedureName="[Risk].[PortfoliosDataSessionStart]" dataObjectName="Portfolios" dataObjectFields="FinRes,OpenBalanceBackOffice,MoneyInInit,MoneyOutInit">
          <storedProcedureParameters>
            <add key="FirmId" value="1"></add>
          </storedProcedureParameters>
        </job>

        <job name="UpdateClientsJob" period="120000" connectionStringName="Risk" enabled="false"
           commandName="Merge" storedProcedureName="[Risk].[Clients]" dataObjectName="Clients">
          <storedProcedureParameters>
            <add key="FirmId" value="1"></add>
          </storedProcedureParameters>
        </job>

        <job name="CheckTransaqPricesJob" period="180000" connectionStringName="Risk" enabled ="false"
             commandName="Insert" storedProcedureName="[Risk].[CheckTransaqPrices]" dataObjectName="Alerts">
          <storedProcedureParameters>
            <add key="Instruments" value="1"></add>
            <add key="Status" value="1"></add>
            <add key="AlertDate" value="%Settings.ServerTime%"></add>
          </storedProcedureParameters>
        </job>

        <job name="LoadInstrumentsGOInfo" connectionStringName="Risk" autoStart="false"
             commandName="Merge" storedProcedureName="[Risk].[TickersData]" dataObjectName="InstrumentsGOInfo"
          dataObjectFields="GORateDay,GORateNight,TimeDay,TimeNight,GroupName">
          <storedProcedureParameters>
            <add key="Date" value="%Settings.ServerTime%"></add>
            <add key="Offset" value="%Settings.UtcOffset%"></add>
          </storedProcedureParameters>
        </job>

      </databaseJobs>
      <delegateJobs>
        <job name="data3"></job>
      </delegateJobs>
    </jobs>

    <addIns>
      <addIn name="Risk.Transaq.TransaqAddIn, Risk.Transaq" type="Risk.Transaq.TransaqAddIn, Risk.Transaq" enabled="true">
        <!--<transaqConfiguration connectionString="HOST=192.168.46.108;SERVICE=3900;RES_HOST=192.168.46.107;RES_SERVICE=3900;RESERVE=0;AUTO_SWITCH=0;LOGIN=RISK02;PWD=123456;CP_SERVER_NAME=;MS_SERVER_NAME=;CSP_USE_MODE=0;TSCLIENT_LOG=Log\Transaq\TSClient.log;LOG_PATH=Log\Transaq\;LOG_LEVEL=1;STARTTIME=00:30:00;STOPTIME=00:30:00;"  taccessDllFileName="TACCESSDLL.dll"></transaqConfiguration>-->
        <!--<transaqConfiguration connectionString="HOST=192.168.46.108;SERVICE=3900;RES_HOST=192.168.46.107;RES_SERVICE=3900;RESERVE=0;AUTO_SWITCH=0;LOGIN=RISK03;PWD=xf41r9;CP_SERVER_NAME=;MS_SERVER_NAME=;CSP_USE_MODE=0;TSCLIENT_LOG=Log\Transaq\TSClient.log;LOG_PATH=Log\Transaq\;LOG_LEVEL=1;STARTTIME=00:30:00;STOPTIME=00:30:00;"  taccessDllFileName="TACCESSDLL.dll"></transaqConfiguration>-->
        <transaqConfiguration connectionString="HOST=192.168.46.108;SERVICE=3900;RES_HOST=192.168.46.107;RES_SERVICE=3900;RESERVE=0;AUTO_SWITCH=0;LOGIN=RISK01;PWD=123698745;CP_SERVER_NAME=;MS_SERVER_NAME=;CSP_USE_MODE=0;TSCLIENT_LOG=Log\Transaq\TSClient.log;LOG_PATH=Log\Transaq\;LOG_LEVEL=1;STARTTIME=00:30:00;STOPTIME=00:30:00;"  taccessDllFileName="TACCESSDLL.dll"></transaqConfiguration>
        
      </addIn>
      <addIn name="Finam.AddIns.ETNA.ETNAAddIn, Finam.AddIns.ETNA" type="Finam.AddIns.ETNA.ETNAAddIn, Finam.AddIns.ETNA">
      </addIn>
    </addIns>

    <authentications >
      <authentication userName="TEST" passwordHash="d3+iLsuDQumz2+jAF2ElbLozHiR0Id3I|j8YoRt51/VDZauUHl6Km6hYWOYKMmfwM" />
      <authentication userName="MOISEEV" passwordHash="4/TMUlP3RKB03DK7j7gVpEJ+EHa2zc9S|3Ic0h9CJmiP1h4Wax/7qeWIZ8Xb9Nv7i" />
      <authentication userName="DEALER" passwordHash="S4CUh9r0W5Dn0UXmP9wmdvaHl0bowA5A|682Qfu8xWWAA5ZOMIqhqPYhpkjOt4CSR" />
      <authentication userName="MOISEEV_A" passwordHash="TA4j7V5hEM2XAHghyesAAQECg+Nt277t|1zNv7cKUPo650ATLkWb/Ylfea40qoJan" />
      <authentication userName="SMALAHOVS" passwordHash="FJa/lya2u+k+PRHVjhss4MhERgOfnnzi|Au6UzWYKOD90MOpL0Y6crO6g9z433pr/" />
      <authentication userName="KULESHIN" passwordHash="f2aynJTb48Zwkxt7Ncw5RBLCUA/X6kb1|+6T3Efbu41AUfb4YcTVvs41fAkV28a2a" />
      <authentication userName="YUSALIMOV" passwordHash="Xjwe6q1u+7Kg2VsLW9MdNlvWtaBlCC2p|3Bc0mA0ETm7mUyux6HclfqWHbJZiEA7R" />
      <authentication userName="BOGOMOLOV" passwordHash="tuZZS0L45i7VAzbDrlo9wbAJPD21a16D|oRd+1iqCbNYfkJnhRAtRlLP6rKInv+wg" />
      <authentication userName="EREMENKO" passwordHash="3hyIFuKZrLQ5tiCauPUyCh2ioo1n5O0X|d+C7A23Gpu3GXJi9m+JLcRtRACDXHgpb" />
      <authentication userName="SOLDATKIN" passwordHash="UAKNhKvRBvx10/ZHgHUaGMFDJadTHtzW|V//wJEkH8UUtlF0F6kX9cizufJbrb634" />
      <authentication userName="PYATKOV" passwordHash="BrVQv6cbSh2vJDEL2yBSumHjH+hMFDch|LFjVqnwy3gzlR6NfMo6jT2yZI/2pzv+o" />
      <authentication userName="IKHUDAYBERDIN" passwordHash="DuYaAG+0WGRmsoSirdvqwahK1i25JxkX|qkdG5M9Bm8qZxb+FsSqnSuab8a4zPV2+" />
      <authentication userName="AYVAZOV" passwordHash="QTklHIcnMegkWgoKK5bPcK/yq3OKouIF|QaT7bneH8XbkUJg+BKOvj5rKVEJeJi/h" />
      <authentication userName="OBOBRENKOVA" passwordHash="McsFX/r1fyACCuvW8iktI0gZIgAY6oWH|Iex/HiP0QKi2JlbxK9wKKEi/Jse18ZiL" />
      <authentication userName="DDZHANTAEVA" passwordHash="TYgtdypU14UVcyov/7GRqzdJwZ2mCsA8|+ITD/IFBmYod1O3GruCU7a9d4NuGHIr4" />
    </authentications>
    <usersToGroups>
      <userToGroup userName="TEST" groupId ="1"></userToGroup>
      <userToGroup userName="MOISEEV" groupId ="1"></userToGroup>
      <userToGroup userName="MOISEEV_A" groupId ="1"></userToGroup>

      <userToGroup userName="BOGOMOLOV" groupId ="2"></userToGroup>
      <userToGroup userName="EREMENKO" groupId ="2"></userToGroup>
      <userToGroup userName="KULESHIN" groupId ="2"></userToGroup>
      <userToGroup userName="SMALAHOVS" groupId ="2"></userToGroup>
      <userToGroup userName="PYATKOV" groupId ="2"></userToGroup>
      <userToGroup userName="SOLDATKIN" groupId ="2"></userToGroup>
      <userToGroup userName="IKHUDAYBERDIN" groupId ="2"></userToGroup>
    </usersToGroups>
  </riskServer>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IFilteringOmsWebService" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.52.95:8006/OmsService" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IFilteringOmsWebService"
          contract="ETNAServiceReference.IFilteringOmsWebService" name="WSHttpBinding_IFilteringOmsWebService" />
    </client>
  </system.serviceModel>

</configuration>